*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.box1{
  display: none;
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}

.box2{
  display: none;

  background-color: #00ff4c;
  height: 200px;
  width: 200px;
  margin-top: 20px;
}

.box3{
  display: none;

  background-color: #00ff4c;
  height: 200px;
  width: 200px;
  margin-top: 20px;
}